body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#6355bc;
	padding:0 5%;
}

.content-container {
  -webkit-transition: left .5s ease-out, opacity .5s ease-out;;
  -moz-transition: left .5s ease-out, opacity .5s ease-out;;
  -ms-transition: left .5s ease-out, opacity .5s ease-out;;
  -o-transition: left .5s ease-out, opacity .5s ease-out;;
  transition: left .5s ease-out, opacity .5s ease-out;;
	position:relative;
	left:-30px;
	opacity:0;
}

.content-container.in {
	left:0px;
	opacity:1;
}

.header {
	font-size:48px;
	color:rgba(255,255,255,.2);
	letter-spacing: -1px;
	margin-bottom: 5px;
}
.subheader {
	font-size:36px;
	line-height:46px;
	color:#fff;
}
hr {
	height:1px;
	background-color: rgba(255,255,255,.2);
	border:none;
	width:250px;
	margin:35px 0;
}
.context {
	font-size:18px;
	line-height:27px;
	color:#fff;
}
.context p {
	margin:0;
}
.context p:nth-child(n+2) {
	margin-top:12px;
}
.buttons-container {
	margin-top: 45px;
}
.buttons-container a {
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
	font-size:14px;
	text-transform: uppercase;
	text-decoration: none;
	color:#fff;
	border:2px solid white;
	border-radius: 99px;
	padding:9px 37px 10px;
}
.buttons-container a:hover {
	background-color:rgba(255,255,255,.05);
}
.buttons-container a:nth-child(n+2) {
	margin-left:25px;
}