body {
	font-family: 'Source Sans Pro', sans-serif;
  background-image: url('background.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

.content-container {
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	background-clip:padding-box;
	border:1px solid rgba(0,0,0,.1);
	position:relative;
	padding:50px;
	background-color: #fff;
	display:inline-block;
	margin:0 auto;
	width:525px;
}

.content-container.in {
	left:0px;
	opacity:1;
}

.header {
	font-size:48px;
	letter-spacing: -1px;
	margin-bottom: 5px;
	color:#ccc;
}
.subheader {
	font-size:36px;
	line-height:46px;
	color:#333;
}
hr {
	height:1px;
	background-color: #ddd;
	border:none;
	width:250px;
	margin:35px 0;
}
.context {
	font-size:18px;
	line-height:27px;
	color:#bbb;
}
.context p {
	margin:0;
}
.context p:nth-child(n+2) {
	margin-top:16px;
}
.buttons-container {
	margin-top: 35px;
}
.buttons-container a {
	transition:text-indent .2s ease-out;
	text-indent: 0px;
	font-size:14px;
	text-transform: uppercase;
	text-decoration: none;
	color:#fff;
	background-color:#2ecc71;
	border-radius: 99px;
	padding:12px 0 13px;
	text-align: center;
	display:inline-block;
	overflow: hidden;
	position: relative;
	width:45%;
}

.buttons-container .fa {
	transition:left .2s ease-out;
	position: absolute;
	left:-50px;
}

.buttons-container a:hover {
	text-indent: 15px;
}

.buttons-container a:nth-child(1) {
	float:left;
}

.buttons-container a:nth-child(2) {
	float:right;
}

.buttons-container .fa-home {
	font-size:18px;
	top:12px;
}

.buttons-container a:hover .fa-home {
	left:10px;
}

.buttons-container .fa-warning {
	font-size:16px;
	top:14px;
}

.buttons-container a:hover .fa-warning {
	left:5px;
}

.buttons-container .fa-power-off {
	font-size:16px;
	top:14px;
}

.buttons-container a:hover .fa-power-off {
	left:9px;
}


.buttons-container.single-button {
	text-align: center;
}

.buttons-container.single-button a  {
	float:none !important;
}